@import "bulma";

nav {
  margin: 10px auto;
  text-align: center;
}

figure {
  margin: 20px;
  width: 300px;
  position: relative;
  float: left;
}

.photoLikes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav.title {
  font-family: 'Great Vibes', cursive;
}

.detail img {
  width: 500px;
}

footer {
  margin: 10px auto;
  text-align: center;
  clear: both;
}
