<article class="detail media">
  <figure class="media-left">
    <p class="image is-1000x1000">
      <img src="{{vm.singlePhoto.URL}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Description:</strong>
        <br>
        {{vm.singlePhoto.desc}}
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete" ng-click="vm.remove(vm.singlePhoto._id)"></button>
  </div>
</article>
