<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/#/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    BENJIEGRAM
  <div class="nav-center">

    <a class="nav-item" href="/#/">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span>Home</span>
    </a>
    <a class="nav-item" href="/#/detail">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <span>Detail</span>
    </a>
    <a class="nav-item" href="/#/add">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span>Add</span>
    </a>
  </div>
</nav>



<footer class="footer">
<span>&copy Benjie Songsong 2016</span>
</footer>
