<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="https://www.instagram.com">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <span class="divider">|</span>
    <a class="nav-item" href="/#/">
      <span class="benjiegram">Benjiegram</span>
    </a>
    <a class="nav-item plus" href="/#/add">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span class="addPhoto">Add Photo</span>
    </a>
  </div>
</nav>

<section class="container" ui-view>

</section>

<footer class="footer">
  <div class="container">
    <span>&copy Benjiegram 2016</span>
  </div>
</footer>
